.product-sections {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1110px;
}

@media screen and (max-width: 767px) {
  .product-sections {
    padding-left: 60px;
  }
}
